    <div class="row" style="width: 100%;">
        <div class="col-lg-6 col-sm-12">
            <div class="m-1 rounded border  border-dark-subtle mx-auto" >{% include 'mapping.html' %}</div>
        </div> 
        <div class="col-lg-6 col-sm-12" >
            <div class="m-1 rounded border  border-dark-subtle" >
                <div style="width: 100%; height: 300px;">
                    <div style="width: 100%; height: 4rem;" class="row mx-auto"><div style="width: 100%; text-align: center; margin-top: 10px;"><h2>SECTORS</h2></div></div>
                    <div style="width: 100%;" class="row mx-auto">
                      <div class="col m-1 mx-auto"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Aerospace & defence</b></div></div></div>
                      <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Automoive</b></div></div></div>
                      <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Construction</b></div></div></div>
                    </div>
                    <div style="width: 100%;" class="row mx-auto">
                        <div class="col m-1 mx-auto"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Energy</b></div></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Environment</b></div></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Financial services</b></div></div></div>
                      </div>
                      <div style="width: 100%;" class="row mx-auto">
                        <div class="col m-1 mx-auto"><div  style="background: rgb(69, 69, 255);"><div style="text-align: center; color: white;"><b>Food & agriculture</b></div></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Government</b></div></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Healthcare</b></div></div></div>
                      </div>
                      <div style="width: 100%;" class="row mx-auto">
                        <div class="col m-1 mx-auto"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>IT</b></div></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Manufacturing</b></div></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Media & ent.</b></div></div></div>
                      </div>
                      <div style="width: 100%;" class="row mx-auto">
                        <div class="col m-1 mx-auto"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Retail</b></div></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Security</b></div></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Support services</b></div></div></div>
                      </div>
                      <div style="width: 100%;" class="row mx-auto">
                        <div class="col m-1 mx-auto"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Tourism & hospitality</b></div></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Transport</b></div></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>Water</b></div></div></div>
                      </div>
                      <div style="width: 100%;" class="row mx-auto">
                        <div class="col m-1 mx-auto"><div  ></div></div>
                        <div class="col m-1"><div  style="background: rgb(69, 69, 255);;"><div style="text-align: center; color: white;"><b>other</b></div></div></div>
                        <div class="col m-1"><div  ></div></div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-lg-3 col-sm-12">
            <div class="m-1 rounded border  border-dark-subtle mx-auto" >{% include 'pestel.html' %}</div>
        </div> 
        <div class="col-lg-9 col-sm-12">
            <div class="m-1 rounded border  border-dark-subtle mx-auto" >{% include 'datechart.html' %}
                <div>
                    <div id="calendar_basic" style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rounded border m-1 border-dark-subtle" style="width: 100%;">
        {% include 'experiment.html' %}
    </div>
    <!-- {% include 'experiment.html' %} -->
