<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button type="button" class="btn btn-warning btn-sm m-1" onclick='document.getElementById("demo").innerHTML="Click on pestel to see its topic...."' style="text-align: center;">Pestel</button>
    <button type="button" class="btn btn-primary btn-sm m-1" onclick='document.getElementById("demo").innerHTML="3D, artificial intelligence, bank, capital, city, debt, demand, economic, economic growth, economy, electricity, energy, export, finance, gas, gasoline, gdp, growth, inflation, information, infrastructure, interest rate, investment, market, money, oil, peak oil, policy, revenue, risk, robot, shale gas, shortage, technology, trade, unemployment, vehicle, water, wealth, work.    "'>Economic</button>
    <button type="button" class="btn btn-primary btn-sm m-1" onclick='document.getElementById("demo").innerHTML="agriculture, aquaculture, carbon, climate, climate change, coal, emission, energy, farm, food, fossil fuel, gas, greenhouse gas, ice, infrastructure, oil, plastic, policy, pollution, production, storm, water, "' >Environmental</button>
    <button type="button" class="btn btn-primary btn-sm m-1" onclick='document.getElementById("demo").innerHTML="oil,gas"'>Healthcare</button>
    <button type="button" class="btn btn-primary btn-sm m-1" onclick='document.getElementById("demo").innerHTML="gas, oil, consumption, production, energy, industry, food, transport, vehicle, biofuel, building, transportation, automaker, gasoline, factory, material"'>Industries</button>
    <button type="button" class="btn btn-primary btn-sm m-1" onclick='document.getElementById("demo").innerHTML=" tourist, gamification,  consumption"'>Lifestyles</button>
    <button type="button" class="btn btn-primary btn-sm m-1" onclick='document.getElementById("demo").innerHTML="strategy, administration, worker, business, risk, policy, workforce, change"'>Organization</button>
    <button type="button" class="btn btn-primary btn-sm m-1" onclick='document.getElementById("demo").innerHTML="asylum, biofuel, brexit, business, clothing, crisis, economic growth, economy, election, electricity, energy, export, food, fracking, gas, government, growth, investment, market, nuclear, oil, policy, politics, power, resource, robot, security, tax, technology, tension, terrorism, transport, war, Washington"'>Political</button>
    <button type="button" class="btn btn-primary btn-sm m-1" onclick='document.getElementById("demo").innerHTML="oil, population, industry, climate, car, city, gas, data, communication, consumer"'>Social</button>
    <button type="button" class="btn btn-primary btn-sm m-1" onclick='document.getElementById("demo").innerHTML="battery, food, technology, gas, software, oil, energy, business, information"'>Technological</button>
        
    <div class="m-2 rounded border  border-dark-subtle mx-auto" id="demo" style="height: 180px; text-align: justify; width: 100%; font-size: small;" placeholder="Click on pestel to see its topic..." >  
        Click on pestel to see its topic...     
        </div>
        
       
    <!-- <script>
        function myFunction() {
            document.getElementById("demmo").innerHTML="<div>{% include 'datechart.html' %}</div>";
        }
    </script> -->
</body>
</html>

<!-- <ul><li>3D</li><li>artificial intelligence</li><li>bank</li><li>capital</li><li>city</li><li>debt</li><li>demand</li><li>economic</li><li>economic growth</li><li>economy</li><li>electricity</li><li>energy</li><li>export</li><li>finance</li><li>gas</li><li>gasoline</li><li>gdp</li><li>growth</li><li>inflation</li><li>information</li><li>infrastructure</li><li>interest rate</li><li>investment</li><li>market</li><li>money</li><li>oil</li><li>peak oil</li><li>policy</li><li>revenue</li><li>risk</li><li>robot</li><li>shale gas</li><li>shortage</li><li>technology</li><li>trade</li><li>unemployment</li><li>vehicle</li><li>water</li><li>wealth</li><li>work</li></ul> -->